{% extends 'baseAdmin.html.twig' %}

{% block content %}


    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title"> Listes des commandes </strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>

                                    <th>Nom Client</th>
                                    <th>Total</th>
                                    <th>Détails</th>
                                    <th>État</th>
                                    <th>Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for commande in commandes %}
                                <tr>

                                    <td>{{ commande.idUser }}</td>
                                    <td>{{ commande.total }} TND</td>
                                    <td> <a style="fill: #00a67c" href="{{ path('produit_commandeDetails', { 'id': commande.id }) }}" class="btn btn-info btn-xs" ></i> Afficher détails de la commande</a></td>
                                    <td>{{ commande.etat }}</td>
                                    <td>
                                        <a href="{{ path('produit_commandeV', { 'id': commande.id }) }}" class="btn btn-info btn-xs" onclick="return confirm('Etes-vous sûr de vouloir valider cette commande ?')"><i class="fa fa-pencil"></i> Valider </a>
                                        <a href="{{ path('produit_commandeR', { 'id': commande.id }) }}" class="btn btn-danger btn-xs"  onclick="return confirm('Etes-vous sûr de vouloir refuser cette commande ?')"><i class="fa fa-trash-o"></i> Refuser</a>
                                    </td>
                                </tr>



                                {% endfor %}

                                </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>




{% endblock %}
