{% extends 'BaseFrontProduit.html.twig' %}

        {% block content %}

            <div class="ps-products-wrap pt-80 pb-80">
                <div class="ps-products" data-mh="product-listing">
                    <h2 class="ps-section__title" data-mask="Wish">- Mes favoris</h2>
                    <div class="ps-product__columns">
                        {% for e in wishs %}
                            <div class="ps-product__column">
                                <div class="ps-shoe mb-30">
                                    <div class="ps-shoe__thumbnail"><a class="ps-shoe__favorite"href="{{ path('produit_wish', { 'id': e.id }) }}"><i class="ps-icon-heart"></i></a><img src="{{ asset('uploads/images/' ~ e.idProduit.image) }}" alt=""><a class="ps-shoe__overlay" href="{{ path('baskel_afficheDetail',{'id': e.idProduit.id}) }}"></a>
                                    </div>
                                    <div class="ps-shoe__content">
                                        <div class="ps-shoe__detail"><a class="ps-shoe__name" href="#">{{e.idProduit.nom}}</a>
                                            <p class="ps-shoe__categories"><a href="#">{{ e.idProduit.quantite }}</a></p><span class="ps-shoe__price"> {{ e.idProduit.prix }} TND</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ps-sidebar" data-mh="product-listing">
                    <aside class="ps-widget--sidebar ps-widget--category">
                        <div class="ps-widget__header">
                            <h3>Category</h3>
                        </div>
                        <div class="ps-widget__content">
                            <ul class="ps-list--checked">
                                {% for j in categoriep %}
                                    <li><a href="{{ path('baskel_filtreproduit',{'id':j.id}) }}">{{ j.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        {% endblock %}
